.forgotUserFormDiv{
    width: 400px;
    height: 420px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px 1px rgb(0 0 0 / 20%);
    padding: 9px 20px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    // margin-right: 70px;
}

#forgotUsertitle{
    font-weight: 600;
    font-size: 30px;
    color: rgb(134, 134, 134);
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-left: 20px;
}

#forgotUsernameInputDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 40px;
}

#forgotUserNameInput{
  height: 54px;
  width: 250px;
  border: solid 1px #c3c3c3;
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;
  color: rgb(98, 98, 98);
  // font-family: 'open sans';
  font-size: 16px;
  font-weight: 500;
  // margin-right: 30px;
  font-family: "open sans", sans-serif;
}

#loginFormUserNameInput:focus{
    border-color: rgb(255, 175, 175);
    box-shadow: 0px 0px 5px rgb(255, 175, 175);
    outline: 0;
  }
  
  #loginFormUserNameInput:hover{
    border-color: rgb(255, 175, 175);
    outline: 0;
  }

//   .loginFormalert{
//       font-size: 12px;
//     //   border: 1px solid;
//       justify-content: center;
//       align-items: center;
//       align-content: center;
//       display: flex;
//       background-color: #b87c7c;
//       color: white;
//       margin-top: 0px;
//       margin-bottom: 10px;
//   }

#forgotUserSubmitBtnDiv{
    display: flex;
    justify-content: center;
    margin-top: 33px;
}

#forgotUserSubmitBtn{
    margin-top: 20px;
    border: none;
    height: 56px;
    border-radius: 5px;
    font-size: 16px;
    width: 150px;
    background-color: #6c7f42;
    color: white;
    font-family: 'open sans';
    font-weight: 500;
  }

#forgotUserSubmitBtn:hover{
  border: none;
  height: 56px;
  border-radius: 5px;
  font-size: 16px;
  width: 150px;
  background-color: #526132;
  color: white;
  font-family: 'open sans';
  font-weight: 500;cursor: pointer;
}

#forgotLoginResetDiv{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 38px;
}

.forgotLoginResetBtns{
  display: inline-block;
  color: #292929;
  background-color: #ffffff;
  text-align: center;
  padding: 24px 0px;
  text-decoration: none;
  // font-size: 15px;
  text-transform: uppercase;
  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.forgotLoginResetBtns{
  position: relative;
  font-size: 14px;
  text-decoration: none;
  transition: all 0.15s ease-out;
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0px;
    left: 0;
    bottom: 20px;
    background: #6c7f42;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }
  &:hover {
    transition: all 0.15s ease-out;
    color: #6c7f42;
    &:before {
        visibility: visible;
        transform: scaleX(1);
    }
  }
}