
.homepageHeader{
    margin-top: 1em;
    font-size: 20px;
    margin-bottom: 1em ;

    h2{
        text-align: center;
        text-transform: uppercase;
        font-weight: 300;
    }
}

.mainDivHomePage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: solid 3px purple;
    // height: 50%;
    // gap: 2%;
}

.hiUserDiv{
    display: flex;
    flex-direction: column;
    align-content: stretch;
    align-items: stretch;
    flex-wrap: nowrap;
    width: 70%;
    // margin-left: 1%;
    border: solid 3px purple;
}

.mpEventandCohort{
    display: flex;
    justify-content: space-between;
    width: auto;
    gap: 3%;
    // height: 63vh;
    height: 100%;
    border: solid 3px purple;
    margin-right: 2.5%;
}

.mainDivHomePageCol1 {
    // flex: .3;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    box-shadow: 0px 0px 5px gray;
    display: flex;
    border-radius: 10px;
    background: white;
    cursor: pointer;
    border: solid 3px purple;
    
    h1{
        font-size: 2.5em;
        font-weight: 400;
    }
}

.mainDivHomePageCol2 {
    // flex: .3;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    border-radius: 10px;
    background: white;
    box-shadow: 0px 0px 5px gray;
    cursor: pointer;
    border: solid 3px purple;

    h1{
        font-size: 2.5em;
        font-weight: 400;
    }
}

.mainDivHomePageCol3 {
    // margin-top: 50px;
    height: 85vh;
    width: 25%;
    min-width: 50px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 10px;
    // background: rgb(233, 232, 232);
    box-shadow: inset 0 0 5px gray;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: solid 3px rgb(187, 49, 49);

    #mainPageCol3Header{
        font-size: 20px;
        font-weight: 100;
        text-align: center;
        margin-top: 2.7em;
    }
}

.mainPageContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
}

.mainPageEventItem{
    margin: 10px 10px;
    cursor: pointer;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 5px gray;

    .mainPageDateTimeStack{
        display: flex;
        height: 40px;
        justify-content: space-between;
        margin: 0 10px;

        .mainPageDateTimeStyling{
            display: flex;
            flex-direction: row;
            text-align: left;
            margin-left: 8px;
            #maindateallevent{
                margin-right: 10px;
                display: flex;
            }
        }
    
    .mainPageStackTypeDiv{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 30px;
    }
    }

    #mainpageeventname{
        display: flex;
        justify-content: flex-start;
    }

    .mainPageTitleStyling{
        display: flex;
        font-weight: 400;
        font-size: 20px;
        margin-left: 20px;
        bottom: 75px;
        top: -100px;
        // margin-left: 15px;   
    }
}

.mainPageStackTypeDisplay{
    background: black;
    color: white;
    border-radius: 50%;
    width: 49px;
    padding: 15px 0;
    // height: auto;
    text-align: center;
    font-weight: 700;
    font-size: 12px;
    align-items: right;
    display: inline-block;
}

.mainPageStackTypeDualDisplay{
    background: black;
    color: white;
    border-radius: 50%;
    width: 49px;
    padding: 15px 0;
    // height: auto;
    text-align: center;
    font-weight: 700;
    font-size: 12px;
    display: inline-block;
    align-items: right;
}
