
.eventDetailHeader{
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 30px;
  margin-bottom: 20px;
}

.eventDetailCol1{
    flex-direction: row;
    row-gap: 1px;
    display: inline-flex;
    flex-wrap: wrap;
    /* height: 200px; */
    text-align: left;
    font-size: 14px;
    text-transform: capitalize;
    font-family: 'Open Sans';
    font-weight: lighter;
    text-decoration: none;
}

.eventDetailCol1 p{
    display: inline-flex;
    align-items: center;
    
}

.eventDetailTitleDate{
  // border: 1px solid;
}

#eventDetailTitle{
  font-weight: 200;
  text-transform: uppercase;
  margin-bottom: 0px;
}

#eventDetailDate{
  margin-top: 0px;
}

.eventDetailStackType{
  // border: 1px solid;
  margin-left: 15px;
}

.eventDetailStackTypeDisplay{
    background: black;
    color: white;
    border-radius: 50%;
    width: 49px;
    padding: 15px 0;
    justify-content: center;
    align-items: center;
    height: auto;
    text-align: center;
    font-weight: 700;
    font-size: 12px;
    display: inline-block;
}

.eventDetailStackTypeDualDisplay{
    background: black;
    color: white;
    border-radius: 50%;
    width: 49px;
    padding: 15px 0;
    height: auto;
    justify-content: center;
    text-align: center;
    font-weight: 700;
    font-size: 12px;
    display: inline-block;
    align-items: center;
}
.eventDetailCol2{
    position: relative;
    display: flex;
    justify-content: flex-end;
    color:#707070;
    align-items: center;
    // cursor: pointer;
}

#attendancetitleBtn{
  color:#707070;
  margin-right: 20px;
  cursor: pointer;
}

.eventDetailDescription{
  display: flex;
  border-radius: 5px;
  padding: 0px 10px;
  background: white;
  // min-height: 30px;
  box-shadow: 0 2px 4px 1px rgb(0 0 0 / 20%);
  margin-bottom: 10px;
}

.confirmDelete{
    text-align: center;
    padding-top: 60px;
    font-size: 30px;
    /* top: -77px; ----- this doesn't work. Instead, we've had to style the element in the html */
    }

.eventDetailCloseModal{
    background-color: rgb(23, 126, 137);
    color: white;
    border-radius: 30px;
    width: 30px;
    padding-bottom: 5px;
    height: auto;
    text-align: center;
    align-items: right;
    position: relative;
    top: 55px;
    left: 740px;
    font-weight: 100;
    font-size: 20px;
  }

  .eventDetailCloseModal:hover{
    background-color: black;
  }

  .deleteeventmodalbtns{
    /* justify-content: center;
    align-items: center; */
    margin-left: 150px;
    margin-top: 150px;
    position: relative;
    
  }
  .deleteeventbtncancel{
    background: transparent;
    border: 1px solid red;
    color: red;
    padding: 10px;
    border-radius: 5px;
    font-size: larger;
  }
.deleteeventbtncancel:hover {
  transition: 400ms ease-in-out;
  background: #eb0606;
  color: white;
}
.deleteeventbtncancel span{
    color: rgb(67, 49, 146);
    font-size: 18px;
    font-weight: 100;
  }

  .deleteeventbtnconfirm{
    background: transparent;
    border: 1px solid rgb(32, 113, 116);
    color: rgb(32, 113, 116);
    background: transparent;
    border: 1px solid rgb(32, 113, 116);
    padding: 10px;
    border-radius: 5px;
    font-size: larger;
    margin-left: 40px;
  }

  .deleteeventbtnconfirm:hover {
    transition: 400ms ease-in-out;
    background: rgb(32, 113, 116);
    color: white;
  }

  .deleteeventbtnconfirm span{
    color: rgb(67, 49, 146);
    font-size: 18px;
    font-weight: 100;
  }