 .allEventContainer {
    /*
    align-items: center; */
    display: flex;
    flex-direction: row;
    flex-flow: row;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    align-content: flex-start;
    gap: 10px;
    width: 100%;

} 

.allEventItem {
    /* align-items: center; */
    border: 3px solid;
    height: 250px;
    width: 17em;
} 

.allDateStyling {
    margin-top: 0px;
}

.allTimeStyling {
    margin-top: -10px;
}

.allCardStyling {
    bottom: 75px;
    top: -100px;
    position: relative;
}

.allCardStyling h2, h3 {
    text-transform: uppercase;
}

.allStackTypeDisplay{
    background: linear-gradient(90deg, rgba(203,203,219,1) 0%, rgba(23, 126, 137) 100%);
    color: white;
    border-radius: 30px;
    width: 55px;
    padding: 15px 0;
    height: auto;
    text-align: center;
    font-weight: 100;
    font-size: 15px;
    align-items: right;
    display: inline-block;
    position: relative;
    left: 200px;
    bottom: 85px;
}

.allStackTypeDualDisplay{
    background: linear-gradient(90deg, rgba(203,203,219,1) 0%, rgba(23, 126, 137) 100%);
    color: white;
    border-radius: 30px;
    width: 55px;
    padding: 15px 0;
    height: auto;
    text-align: center;
    font-weight: 100;
    font-size: 15px;
    display: inline-block;
    align-items: right;
    position: relative;
    left: 140px;
    bottom: 85px;
}