 .allEventContainer {
    /*
    align-items: center; */
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    flex-flow: row;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    align-content: flex-start;
    gap: 30px;
    // column-gap: 30px;
    width: 100%;

} 

.allEventItem {
    /* align-items: center; */
    justify-content: space-around;
    border: 3px solid transparent;
    height: 235px;
    width: 14em;
    flex: none;
    border-radius: 8px;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0 2px 4px 1px rgb(0 0 0 / 20%);
    box-shadow-bottom-right-radius: 8px;
    box-shadow-bottom-left-radius: 8px;
} 

.allDateStyling {
    margin-top: 0px;
}

.allTimeStyling {
    margin-top: -10px;
}

.allCardStyling {
    bottom: 75px;
    top: -100px;
    position: relative;
}

.allCardStyling h2, h3 {
    text-transform: uppercase;
}

.allStackTypeDisplay{
    background: black;
    color: white;
    border-radius: 50%;
    width: 49px;
    padding: 15px 0;
    height: auto;
    text-align: center;
    font-weight: 700;
    font-size: 12px;
    align-items: right;
    display: inline-block;
    position: relative;
    left: 175px;
    bottom: 70px;
}

.allStackTypeDualDisplay{
    background: black;
    color: white;
    border-radius: 50%;
    width: 49px;
    padding: 15px 0;
    height: auto;
    text-align: center;
    font-weight: 700;
    font-size: 12px;
    display: inline-block;
    align-items: right;
    position: relative;
    left: 120px;
    bottom: 70px;
}

