.createNewEventCard{
    padding: 10px 10px;
  }
  
  .createNewEventCardHeader{
    text-align: center;
    margin-bottom: 30px;
    justify-content: flex-start;
    align-content: flex-start;
    display: flex;
    flex-direction: column;

    // .createNewEventH2div{
    //   border: solid 2px rgb(255, 72, 0);
    //   padding: none;
    //   // height: 40px;
    // }

    .createNewEventH2div #createNewEvenrH{
      height: 30px;
      margin: 0px 0px;
      text-transform: uppercase;
      font-weight: 300;
    }

    .createNewEventclosing{
      height: 30px;
      display: flex;
      justify-content: right;
      align-items: center;
      text-decoration: none;
    }

    .createNewEventclosing p{
      color: white;
      background-color: #6c7f42;
      border-radius: 50%;
      padding: 3px 10px;
      padding-bottom: 5px;
      text-align: center;
      font-weight: 700;
      text-decoration: solid underline #6c7f42 ;
    }

    .createNewEventclosing p:hover{
      color: white;
      background-color: #566634;
      border-radius: 50%;
      padding: 3px 10px;
      padding-bottom: 5px;
      text-align: center;
      font-weight: 700;
      text-decoration: solid underline #566634 ;
    }
  }

  .createNewEventBtn{
    /* margin-top: 20px; */
    text-align: right;
  }
  
  /* adjusts the grid width */
  .css-bhp9pd-MuiPaper-root-MuiCard-root{ 
    width: 700px;
  }
  
  .eventTimeInput{
    // margin-left: 50px;
    width: 145px;
  }
  
  .createNewEventTitle{
    width: 302px;
  }
  
  .createNewEventDescription{
    width: 100%;
  }
  
  .css-dpjnhs-MuiInputBase-root-MuiOutlinedInput-root{
    /* margin-top: 20px; */
    margin-bottom: 20px;
  }
  
  .createNewEventTagDiv{
    margin-bottom: 20px;
  }
  
  .createNewEventTitleDateTimeDiv{
    margin-bottom: 20px;
    display: flex;
  }
  
  .createNewEventFormClass{
    width: 300px;
  }
  
  .cheers{
  text-align: center;
  padding-top: 40px;
  font-size: 50px;
  /* top: -77px; ----- this doesn't work. Instead, we've had to style the element in the html */
  }
  
  .neweventmodalbtns{
    /* justify-content: center;
    align-items: center; */
    margin-left: 70px;
    position: relative;
    top: -70px;
  }
  
  .beerscheers{
    position: relative;
  }
  
  svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: rgb(187, 13, 13);
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 20ms ease-in-out;
  }
  
  /* CANCEL BTN */
  .createneweventconfirmcancelbtn{
      background: transparent;
      border: 1px solid red;
      color: red;
      padding: 10px;
      border-radius: 5px;
      font-size: larger;
    }
  .createneweventconfirmcancelbtn:hover {
    transition: 400ms ease-in-out;
    background: #eb0606;
    color: white;
  }
  .createneweventconfirmcancelbtn::hover svg {
    stroke-dashoffset: -480;
  }
  
  .createneweventconfirmcancelbtn span{
    color: rgb(67, 49, 146);
    font-size: 18px;
    font-weight: 100;
  }
  
  /* ANOTHER CREATE BTN */
  .createneweventconfirmnewbtn{
    background: transparent;
    border: 1px solid rgb(32, 113, 116);
    color: rgb(32, 113, 116);
    background: transparent;
    border: 1px solid rgb(32, 113, 116);
    padding: 10px;
    border-radius: 5px;
    font-size: larger;
    margin-left: 40px;
  }
  
  .createneweventconfirmnewbtn:hover {
    transition: 400ms ease-in-out;
    background: rgb(32, 113, 116);
    color: white;
  }
  .createneweventconfirmnewbtn::hover svg {
    stroke-dashoffset: -480;
  }
  
  .createneweventconfirmnewbtn span{
    color: rgb(67, 49, 146);
    font-size: 18px;
    font-weight: 100;
  }

