/* body {
    margin: 0px 25px;
} */


.css-15tk2fu-MuiGrid-root{
    display: inline-flex;
    flex-flow: row;
    flex-direction: row;
    width: 18em;
}

.stackTypeDisplay{
    background: linear-gradient(90deg, rgba(203,203,219,1) 0%, rgba(23, 126, 137) 100%);
    color: white;
    border-radius: 30px;
    width: 55px;
    padding: 15px 0;
    height: auto;
    text-align: center;
    font-weight: 100;
    font-size: 15px;
    align-items: right;
    display: inline-block;
    position: relative;
    left: 200px;
    bottom: 85px;
}

.stackTypeDualDisplay{
    background: linear-gradient(90deg, rgba(203,203,219,1) 0%, rgba(23, 126, 137) 100%);
    color: white;
    border-radius: 30px;
    width: 55px;
    padding: 15px 0;
    height: auto;
    text-align: center;
    font-weight: 100;
    font-size: 15px;
    display: inline-block;
    align-items: right;
    position: relative;
    left: 140px;
    bottom: 85px;
}

#createNewEventDiv {
    border: 3px dashed;

}

.row {
    display: flex;
    
}

.col1 {
    flex: .8;
}

.col2 {
    flex: .2;
    /* vertical-align: middle !important; */
    line-height: 200px;
    text-align: center;
    padding-top: 200px;
}

/* --------------Modal--------------- */

.createNewEventModal{
    width: 40%;
  }
  
.css-79ws1d-MuiModal-root{
justify-content: center;
align-items: center;
width: 700px;
}

.cardStyling {
    bottom: 75px;
    top: -100px;
    position: relative;
}

h2, h3 {
    text-transform: uppercase;
}

.dateStyling {
    margin-top: 0px;
}

.timeStyling {
    margin-top: -10px;
}

#createNewEventTitle {
    display: inline;
    vertical-align: middle;
    line-height: normal;
}

.eventContainer {
    width: 67em;
    flex-flow: row;
    flex-direction: row;
    gap: 10px;
    display: inline-flex;
    align-items: center; 
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.eventItem {
    /* align-items: center; */
    justify-content: center;
    border: 3px solid;
    height: 250px;
    width: 17em;
    flex: none;
} 

.titleCol1 {
    text-align: left;
    // display: inline-block;
    
}

.titleCol2 {
    text-align: right;
    // display: inline-block;
    // padding-left: 782px;
}

.titleDiv {
    display: flex;
    width: 100%;
    justify-content: space-between;
}