.editCohortCard{
    padding: 10px 19px;
    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 700px;
    outline: 0;
  }
  
.editCohortHeader{
  text-align: center;
  margin-bottom: 30px;
  justify-content: flex-start;
  align-content: flex-start;
  display: flex;
  flex-direction: column;

    .editCohortH2div #editCohortH{
      height: 30px;
      margin: 0px 0px;
      text-transform: uppercase;
      font-weight: 300;
    }

    .editCohortClosing{
      height: 30px;
      display: flex;
      justify-content: right;
      align-items: center;
      text-decoration: none;
    }

    .editCohortClosing p{
      color: white;
      background-color: #6c7f42;
      border-radius: 50%;
      padding: 3px 10px;
      padding-bottom: 5px;
      text-align: center;
      font-weight: 700;
      text-decoration: solid underline #6c7f42 ;
    }

    .editCohortClosing p:hover{
      color: white;
      background-color: #566634;
      border-radius: 50%;
      padding: 3px 10px;
      padding-bottom: 5px;
      text-align: center;
      font-weight: 700;
      text-decoration: solid underline #566634 ;
    }
}

/*----------------------------------*/ 

.editCohortTitleDateTimeDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .editcohorttitleinput{
    // height: 56px;
    width: 194.5px;
    border: solid 1px #c3c3c3;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(98, 98, 98);
    font-size: 16px;
    font-weight: 500;
    font-family: "open sans", sans-serif;
  }
  
  .editcohorttitleinput:focus{
    border-color: rgb(255, 175, 175);
    box-shadow: 0px 0px 5px rgb(255, 175, 175);
    outline: 0;
  }
  
  .editcohorttitleinput:hover{
    border-color: rgb(255, 175, 175);
    outline: 0;
  }
  
  .editcohortDateInput{
    height: 56px;
    width: 194.5px;
    border: solid 1px #c3c3c3;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(98, 98, 98);
    font-size: 16px;
    font-weight: 500;
    font-family: "open sans", sans-serif;
  }
  
  .editcohortDateInput:focus{
    border-color: rgb(255, 175, 175);
    box-shadow: 0px 0px 5px rgb(255, 175, 175);
    outline: 0;
  }
  
  .editcohortDateInput:hover{
    border-color: rgb(255, 175, 175);
    outline: 0;
  }
  
 /*------------------------------------------------*/ 

.editCohortFormandBtn{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.editCohortdropdown{
  height: 56px;
  width: 217px;
  margin: 2px 5px;
  border: solid 1px #c3c3c3;
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;
  color: rgb(117, 117, 117);
  font-family: "open sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  appearance: none;
}

select.editCohortdropdown {
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    radial-gradient(#ddd 70%, transparent 72%);
  background-position:
    calc(100% - 20.4px) calc(1em + 2px),
    calc(100% - 16.3px) calc(1em + 2px),
    calc(100% - .5em) .5em;
  background-size:
    5px 5px,
    5px 5px,
    1.6em 1.5em;
  background-repeat: no-repeat;
}

select.editCohortdropdown:focus {
  background-image:
    linear-gradient(45deg, white 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, white 50%),
    radial-gradient(gray 70%, transparent 72%);
  background-position:
    calc(100% - 16.3px) 1em,
    calc(100% - 20.4px) 1em,
    calc(100% - .5em) .5em;
  background-size:
    5px 5px,
    5px 5px,
    1.6em 1.5em;
  background-repeat: no-repeat;
  border-color: rgb(255, 175, 175);
  box-shadow: 0px 0px 5px rgb(255, 175, 175);
  outline: 0;
}

select.editCohortdropdown:hover{
  border-color: rgb(255, 175, 175);
  // box-shadow: 0px 0px 5px rgb(255, 175, 175);
}

.editCohortSubmissionBtn{
margin: 2px 5px;
}

.editCohortsubmitbtn{
  border: none;
  height: 56px;
  border-radius: 5px;
  font-size: 16px;
  width: 150px;
  background-color: #6c7f42;
  color: white;
  font-family: 'open sans';
  font-weight: 500;
}

.editCohortsubmitbtn:hover{
  border: none;
  height: 56px;
  border-radius: 5px;
  font-size: 16px;
  width: 150px;
  background-color: #526132;
  color: white;
  font-family: 'open sans';
  font-weight: 500;
}



  