.tagsHeader{
    border: 3px solid;
    flex: 5;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
}

.eventtagdisplay{
    background-color:white;
    border-radius: 2%;
    padding: 12px 10px;
    width: fit-content;
    border-style: solid;
    font-size: 13px;
    font-weight:bold;
    color: black;
    display: inline-table;
    margin: 10px;
    margin-top: inherit;
    box-shadow: .5px 1px 1px .5px  black ;
    
}

.eventtagdeletebtn {
    font-size: 10px;
    font-weight: bold;
    position: inline;
    top: -53px;
    left: 268px;
      
}
.eventtagdisplayfield{
    margin-left: 5px;
    margin-bottom: -20px;
}


.deleteeventtagmodalbtns{
    /* justify-content: center;
    align-items: center; */
    margin-left: 150px;
    margin-top: 5px;
 
  }

.deleteeventtagbtnconfirm{
    background: transparent;
    border: 1px solid rgb(32, 113, 116);
    color: rgb(32, 113, 116);
    background: transparent;
    border: 1px solid rgb(32, 113, 116);
    padding: 10px;
    border-radius: 5px;
    font-size: larger;
    margin-left: 40px;
  }
  .deleteeventtagbtncancel{
    background: transparent;
    border: 1px solid red;
    color: red;
    padding: 10px;
    border-radius: 5px;
    font-size: larger;
    margin-bottom: 10px;
  }
  .confirmtagDelete{
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
    margin-bottom: 10px;
    /* top: -77px; ----- this doesn't work. Instead, we've had to style the element in the html */
    }