.tagsHeader{
    border: 3px solid;
    flex: 5;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
}

.eventtagdisplay{
    background-color:white;
    padding: 12px 10px;
    width: fit-content;
    border-style: solid;
    font-size: 13px;
    font-weight:bold;
    color: black;
    margin: 10px;
    margin-top: -35px;
    margin-left: 3px;
    box-shadow: 1px  black ;
    
}

.eventtagdeletebtn {
    font-size: 10px;
    font-weight: bold;
    position: relative;
    top: -53px;
    left: 268px;
      
}


