
.titleCol1 {
    text-align: left;
    // display: inline-block;
    font-size: 14px;
    text-transform: capitalize;
    font-family: 'Open Sans';
    font-weight: lighter;
    text-decoration: none;

    .cohortPageTitles{
        font-weight: 500;
        text-transform: uppercase;
        color: #818181;
        padding-left: 8px;
    }
}


.titleCol2 {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    align-content: center;
}

#allCohorts{
    color: rgb(73, 73, 73);
    // text-decoration: none;
    background-color:rgb(243, 240, 236);;
    text-decoration: underline rgb(243, 240, 236);
}

.cohortTypeDisplay{
    background: black;
    color: white;
    border-radius: 50%;
    width: 49px;
    padding: 15px 0;
    margin-top: 11px;
    height: auto;
    text-align: center;
    font-weight: 700;
    font-size: 12px;
    align-items: right;
    display: inline-block;
    position: relative;
    left: 175px;
    bottom: 70px;
}

// .stackTypeDisplay{
//     background: black;
//     color: white;
//     border-radius: 50%;
//     width: 49px;
//     padding: 15px 0;
//     height: auto;
//     text-align: center;
//     font-weight: 700;
//     font-size: 12px;
//     align-items: right;
//     display: inline-block;
//     position: relative;
//     left: 175px;
//     bottom: 70px;
// }

// .stackTypeDualDisplay{
//     background: black;
//     color: white;
//     border-radius: 50%;
//     width: 49px;
//     padding: 15px 0;
//     height: auto;
//     text-align: center;
//     font-weight: 700;
//     font-size: 12px;
//     display: inline-block;
//     align-items: right;
//     position: relative;
//     left: 120px;
//     bottom: 70px;
// }

#createNewCohortDiv {
    max-width: 20%;
    display: flex;
    border: 3px dashed rgb(148, 148, 148);
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    background-color: rgb(0 0 0 / 10%);
    color: #686868;
    // flex-basis: auto;
}

.cohortpagerow {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    gap: 30px;
    // flex: none;
}

.col2 {
    // padding-top: 200px;
    flex-grow: 1;
    text-align: center;
}

/* --------------Modal--------------- */

.createNewCohortModal{
    width: 40%;
  }
  
.css-79ws1d-MuiModal-root{
justify-content: center;
align-items: center;
width: 700px;
}

.cohortPageCloseModal{
    background-color: #6c7f42;
    color: white;
    border: solid 2px #6c7f42;
    border-radius: 50%;
    width: 24px;
    padding: 5px 2px;
    height: auto;
    text-align: center;
    align-items: center;
    position: relative;
    top: 56px;
    left: 553px;
    font-weight: 800;
    font-size: 13px;
    display: flex;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .cohortPageCloseModal:hover{
    background-color: #556434;
    border: solid 2px #556434;
  }

/*--------Modal Styling---------*/ 

.cohortCardStyling {
    bottom: 75px;
    top: -125px;
    position: relative;
    font-family: 'Open Sans';
}

.cohortContainer h3 {
    text-transform: uppercase;
}

.cohortDateStyling {
    margin-top: 0px;
    padding-top: 20px;
    font-size: 15px;
}

.gradDateStyling {
    margin-bottom: -15px;
}

.cohortTimeStyling {
    margin-top: -10px;
    font-size: 12px;
}

#createNewCohortTitle {
    // display: inline;
    // vertical-align: middle;
    // line-height: normal;
    font-family: 'Open Sans';
    font-weight: 700;
    color: rgb(102, 102, 102);
}

.cohortContainer {
    padding: 5.5px 2px;
    max-width: 70em;
    // height: 280px;
    flex-flow: row;
    flex-direction: row;
    gap: 10px;
    display: inline-flex;
    align-items: center; 
    overflow-x: scroll;
    scroll-behavior: smooth;
    overflow-y: hidden;
}

.cohortItem {
    margin-left: 5px;
    margin-right: 5px;
    justify-content: space-around;
    border: 3px solid transparent;
    height: 234px;
    width: 14em;
    flex: none;
    border-radius: 8px;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    // box-shadow: 0px 0px 3px rgb(167, 167, 167);
    box-shadow: 0 2px 4px 1px rgb(0 0 0 / 20%);
    cursor: pointer;
} 

.cohortTitle{
    padding-top: 40px;
    font-size: 28px;
}

// .cohortDescription{
//     text-transform: none;
//     font-size: 15px;
//     flex: wrap;
// }

.titleDiv {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 30px;
}
