.userStatus, .userName, .userDelete {
    text-align: center;
    // border: 1px solid;
}

// .alumAttendedCheckbox {
//     width: 25px;
//     height: 25px;
// }

.userStatus, .userName, .userDelete {
    font-size: 20px;
}

.reguseruserName{
    width: 40%;
    padding-left: 10%;
}

.reguseruserStatus{
    width: 40%;
    padding-left: 10%;
}

.reguseruserDelete{
    width: 40%;
    padding-left: 10%;
}