.notestitleandInput{
  margin: 5px 12px;
    // border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

 .eventNotestitle{
  color: #505050;
  text-transform: uppercase;
  font-size: 20px;
}

.noteeditsubmitbtn{
   top: -51px;
}

.eventNewNoteInput{
  height: 40px;
    width: 50%;
    border: solid 1px #c3c3c3;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(98, 98, 98);
    font-size: 16px;
    font-weight: 500;
    font-family: "open sans", sans-serif;
}

.eventNewNoteInput:focus{
  border-color: rgb(255, 175, 175);
  box-shadow: 0px 0px 5px rgb(255, 175, 175);
  outline: 0;
}

.eventNewNoteInput:hover{
  border-color: rgb(255, 175, 175);
  outline: 0;
}


.notesHeader{
  flex: 5;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px 1px rgb(0 0 0 / 20%);
}

.deleteeventnotemodalbtns{
  /* justify-content: center;
  align-items: center; */
  margin-left: 150px;
  margin-top: 5px;

}

.confirmnoteDelete{
  text-align: center;
  padding-top: 30px;
  font-size: 30px;
  margin-bottom: 10px;
  /* top: -77px; ----- this doesn't work. Instead, we've had to style the element in the html */
  }

  .editNoteModalDescription{
    margin-left: 10%;
    font-size: 20px;
    }

    .editNoteModalOGstamp{
      text-align: center;
      font-size: 30px;
      padding-top: 60px;
      }

.eventnotedisplayarea{
  margin: 5px 17px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  // justify-content: center;
  align-items: center;
}

.eventnotedisplayarea:last-child{
  padding-bottom: 20px;
}

.eventnoterow{
  display: flex;
  gap: 6px;
  justify-content: space-between;
  width: 95%;
  box-shadow: 0px 9px 3px -9px #888;
}

.eventnoterow:last-child{
  border: none;
  box-shadow: none;
}

.eventnotedatetime{
  display: flex;
  width: 10%;
  flex-direction: column; 
  justify-content: center;
  align-content: center;
  margin: 0px 0px;
  height: auto;
}

#eventdateid{
  margin: 0px 0px;
  font-weight: 400;
  font-size: 15px;
}

#eventtimeid{
  margin: 0px 0px;
  font-weight: 400;
  font-size: 15px;
}

.eventnotedisplay{
  width: 60%;
  // border: 1px solid;
  font-size: 15px;
  font-weight: 400;
  display: flex;
  flex-wrap: wrap;
}

.eventactionbtns{
  display: flex;
  gap: 15px;
  color: #707070;
  justify-content: center;
  align-items: center;
}


/*--------------------------------*/

.editnotemodal{
  background-color: white;
  border-radius: 10px;
  width: 450px;
  height: 350px;
  padding: 10px 19px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.noteEditModalCardHeader{
  text-align: center;
  margin-bottom: 30px;
  justify-content: flex-start;
  align-content: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.eventNoteEdit{
  border: solid 1px #c3c3c3;
  resize: none;
  margin: 1px 5px;
  padding: 10px 10px;
  border-radius: 4px;
  font-family: "open sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  flex-wrap: wrap;
}

.eventNoteEdit:focus{
  border-color: rgb(255, 175, 175);
  box-shadow: 0px 0px 5px rgb(255, 175, 175);
  outline: 0;
}

.eventNoteEdit:hover{
  border-color: rgb(255, 175, 175);
  outline: 0;
}

.editnotemodalbtnsdiv{
  display: flex;
  margin-right: 6px;
  justify-content: right;
  margin-top: 10px;
  margin-bottom: 10px;
}

.editeventnoteupdatebtn{
    border: none;
    height: 56px;
    border-radius: 5px;
    font-size: 16px;
    width: 100px;
    background-color: #6c7f42;
    color: white;
    font-family: 'open sans';
    font-weight: 500;
}

.editeventnoteupdatebtn:hover{
  border: none;
  height: 56px;
  border-radius: 5px;
  font-size: 16px;
  width: 100px;
  background-color: #526132;
  color: white;
  font-family: 'open sans';
  font-weight: 500;
}