.chartDiv{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 75px;
}

.chartContainer{
    padding: 20px;
}

.rightSideChartDiv {
    width: 40%;
    float: right;
    padding: 20px;
    margin-right: 10px;
    
}
.leftSideChartDiv {
    width: 40%;
    float: left;
    padding: 20px;
    
}

.bottomRightChartDiv {
    width: 40%;
    float: right;
    padding: 20px;
    margin-right: 10px;
    
}
.bottomLeftChartDiv {
    width: 40%;
    // float: left;
    padding: 20px;
    
}