.chartDiv{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 75px;
}

.chartContainer{
    border: 3px solid #fff;
    padding: 20px;
}

.rightSideChartDiv {
    width: 40%;
    float: right;
    padding: 20px;
    
}
.leftSideChartDiv {
    width: 40%;
    float: left;
    padding: 20px;
    
}