#attendanceTable {
    width: 95vw;
    border: 3px solid;
    margin-top: 10px;
}

#tableCol1 {
    width: 5%;
    text-align: center;
    border: 1px solid;
}

#tableCol2 {
    width: 35%;
    text-align: center;
    border: 1px solid;
}

#tableCol3 {
    width: 35%;
    border: 1px solid;
}

#tableCol4 {
    width: 25%;
    border: 1px solid;
}