.cohortDetailTableRow2Col1, .cohortDetailTableRow2Col2, .cohortDetailTableRow2Col3, .cohortDetailTableRow2Col4 {
    text-align: center;
    border: 1px solid;
}

.cohortDetailTableRow2Col2, .cohortDetailTableRow2Col3, .cohortDetailTableRow2Col4 {
    font-size: 25px;
}