.userRegisterPageDiv {
    display:table;
    width:100%;
    border: 1px solid;
    
}
.userTableDiv {
    display:table-cell;
    background-color:#cecca7;
    width:45%;
    border: 1px solid;
}
.registerFormDiv {
    display:table-cell;
    background-color:#cecca7;
    width:45%;
}