.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 30px;
  background-color: #ffffff;
  /* overflow: hidden; */
  padding-left: 20px;
  padding-right: 20px;
  margin: 0px -25px;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
}

.nav a {
  text-decoration: none;
}

.nav-title {
  font-size: 24px;
  font-weight: 700;
  color: #000000;
  padding-left: 10px;
  margin: 0;
}

.navLink {
  display: inline-block;
  color: #292929;
  background-color: #ffffff;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  background-color: #efefef;
}

/* Search by alum */
.searchbyalumdiv{
  display: flex;
  justify-content: space-between;
  border: solid 2px;
  border-radius: 20px;
  padding: 5px 10px 0 10px;
  width: 300px;
}
.searchbyaluminput{
  border-radius: 20px;
  border: none;
}
.searchbyalumbtn{
  border-radius: 20px;
  border: none;
  background-color: transparent;
}

.searchbyalumbtn:focus{
  border-radius: 20px;
  border: none;
  background-color: blueviolet;
}

/* Search by skill */
.searchbyskill{
  border-radius: 20px;
}